<!-- create a banner -->

<!-- create a list to display orders -->

<!-- create a div that lets user make new order -->
<header>This is Test for James Marshall !!!</header>

<mat-accordion>
  <mat-expansion-panel *ngFor="let Ord of orders[0]">
    <mat-expansion-panel-header>
      Company Name {{Ord.customerInformation}},  Creation Date: {{Ord.creationDate}}, Due Date: {{Ord.dueDate}}
    </mat-expansion-panel-header>
      <ul> List of products ordered
        <li *ngFor="let Prod of Ord.listOfOrderedProd">Product name: {{Prod.product}}, Number of items: {{Prod.number}}</li>
      </ul>
  </mat-expansion-panel>
</mat-accordion>

<button (click)="createNewOrder()">add order</button>

<Form>
  <label>Customer Information</label>
  <input required id="csInformation" type='text' class="form-control">
  <label>Due Date</label>
  <input required id="dueDate" type='text' class="form-control">
  <div *ngFor="let a of numberOfItemsInOrder">
    <label>Item Name</label>
    <input required id="itemName" type='text' class="form-control">
    <label>Number of Items</label>
    <input required id="numberOfItems" type='number' class="form-control">
  </div>
  <button (click)="buttonClicked($event)" type="submit" class="btn btn-success">Submit</button>
</Form>
<button (click)="addItemToOrder()">add another item to list</button>



<router-outlet></router-outlet>
